{erl_opts, [ ]}.
{sub_dirs, ["rel"]}.
{deps, [
	{ex_fcgi, "1.0.0",
		{git, "git://github.com/extend/ex_fcgi.git", {tag, "1.0.0"}}},
	{cowboy, ".*",
		{git, "https://git.ishopex.cn/base/cowboy.git", "bnow_r16b"}},
	{mochijson2, ".*",
		{git, "git://github.com/sbalea/mochijson2.git", "master"}},
	{eleveldb, ".*",
		{git, "https://github.com/basho/eleveldb.git", {tag, "master"}}},
	{magic, ".*",
		{git, "https://github.com/guzhengxiao/magic.git", {tag, "magic_proc_dict"}}},%% magic_dict is the original code.
    {'dynamic_compile', ".*", {git, "git://github.com/JacobVorreuter/dynamic_compile.git", "master"}},
	{amqp_client, ".*",
		{git, "git://github.com/jbrisbin/amqp_client.git", {tag, "master"}}},

	{rabbit_common, ".*",
		{git, "https://github.com/jbrisbin/rabbit_common.git", {tag, "master"}}},
	{iplib, ".*",
		{git, "https://github.com/guzhengxiao/iplib.git", {tag, "master"}}}
    ]}.
