{sys, [
	   {excl_archive_filters, [".*"]},
       {lib_dirs, ["..", "../../", "../deps/"]},
       {rel, "doraemon", "1",
        [
         kernel,
         stdlib,
         sasl,
         mnesia,
		 doraemon
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "doraemon"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {app, doraemon, [{incl_cond, include}]},
       {app, sasl, [{incl_cond, include}]},
       {app, cowboy, [{incl_cond, include}]},
       {app, eleveldb, [{incl_cond, include}]},
       {app, ex_fcgi, [{incl_cond, include}]},
       {app, iplib, [{incl_cond, include}]},
       {app, magic, [{incl_cond, include}]},
       {app, mochijson2, [{incl_cond, include}]}
      ]}.

{target_dir, "doraemon"}.

{overlay, [
           {mkdir, "data"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {copy, "files/doraemon", "bin/doraemon"},
           {copy, "files/app.config", "etc/app.config"},
           {copy, "files/vm.args", "etc/vm.args"}
          ]}.
