[
	{doraemon, [
		{datadir, "data"},
		{web_listen, {{0,0,0,0}, 8889}},
		%{gate_port, 16001},
        {api_need_verify, true},
		%{php_fcgi, {tcp, {127,0,0,1}, 9000}},
        {msg_port , 5959 },

        {rrd_queue, [{queue_name, [{"rrd_queue", 100}]},
                     {connection_num, 2},
                     {host, "127.0.0.1"},
                     {virtual_host, <<"/">>},
                     {exchange, <<"amq.direct">>},
                     {username, <<"guest">>},
                     {password, <<"guest">>},
                     {heartbeat, 30}]}

	]},
	
	%% SASL config
	{sasl, [
	        {sasl_error_logger, {file, "log/sasl-error.log"}},
	        {errlog_type, error},
	        {error_logger_mf_dir, "log/sasl"},      % Log directory
	        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
	        {error_logger_mf_maxfiles, 5}           % 5 files max
	       ]}
].

